<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>

    <h2>All cars:</h2>
    <ul>
        {{#each cars}}
            <li>
                <span style="font-size: 20px">{{this.producer}}, model: {{this.model}}, year: {{this.year}};</span>
            </li>
        {{/each}}
    </ul>

    <div>
        <a href="/cars">Find a car by id</a>
    </div>

</body>
</html>
