<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    {{#if isLoginUsed}}
        <h3>This login is already use, please choose another login</h3>
        <a href="/register">Go to registration</a>
    {{/if}}

    {{#if user}}
        <div>Hello {{user.login}}</div>
    {{/if}}

    <h2>Users who are registered on the site:</h2>
    <ul>
        {{#each usersArr}}
            <li>{{this.login}}</li>
        {{/each}}
    </ul>

    <a href="/">Go home</a>

</body>
</html>
